extends layout

block content
  .big-pic-background
    #big-slogan
      h1 Schedule smarter.
      .divider
      .divider
    .flex-container
      a(href='/login')#enter-button Enter
      img(src="http://i.imgur.com/4gzC58Z.png?1")
  .divider
  .center.content
    h1 Why SmartTi.me?
    .divider
    .flex-container
      article
        h2 Track your efficiency
        p See exactly how long every task takes.
      article
        h2 Improve yourself
        p See how your efficiency compares to others'.  Learn which tasks you're
          good at, and which could use practice.
      article
        h2 Less planning, more doing
        p Smarti.me learns your habits and plans and plans and makes plans for
          you.  Its basically your mom.
    .divider
  .screen.filler
