extends layout

block content
    h1.
        Task List
    a(class="button", href="/userlist") User List
    br
    a(class="button", href="/newtask") New Task
    ul
        each task, i in tasklist
            li= task.name + ': ' + task.time
    p#average
script.
  function average(task){
   <!--  REPLACE: each task has a task.time you need to average. the p#average above
    defines a paragraph with id average. u fill that paragraph with the average ok -->
    }
